html, body {
    font-family:Roboto, HelveticaNeue, Arial, sans-serif;
	font-size: 16px;
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: auto;
}

.header {
    border-bottom: 1px solid #CCC;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    box-sizing: border-box;
}

.logo {
    width: 60px;
}

img {
    max-width: 100%;
    display: block;
}

.navbar {
    text-transform: uppercase;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 8px;
}

.featured {
    /* background: #EEE; */
}
.featured .container {
    display: flex;
    justify-content: space-around;
    padding: 48px 0;
}
.featured div {
}
.featured img {
    width: 100%;
    /* max-width: 1170px; */
    display: block;
}

.catalogue {
    padding: 48px 0;
}

.product-container {
    padding: 12px 5.5px;
    display: inline-block;
}

.product-item {
    overflow: hidden;
    margin: 12px;
    box-sizing: border-box;
    border: 1px solid #dadce0;
    border-radius: 8px;

    cursor: pointer;
    display: block;
    min-height: 238px;
    margin: 0px;
    position: relative;
    width: 152px;
}

.product-image {
    background-color:rgb(255, 255, 255);
    box-sizing:border-box;
    display:inline-block;
    height:152px;
    position:relative;
    width:152px;

    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.product-details {
    color:rgba(32, 33, 36, 0.8);
    display:block;
    font-size:14px;
    line-height:20px;
    padding: 8px 12px;
    text-size-adjust:100%;
    white-space:nowrap;
    width:128px;
}

.product-price {
    font-weight: bold;
}

.section-header {
    color: #202124;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .3px;
    line-height: 20px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 16px;
}

.categories {
    background: #141518;
    padding: 24px 0;
}

.category-item {
    padding: 6px 8px;
    color: white;
    text-decoration: none;
}
.category-item.active, .category-item:hover {
    color: #fdb203;
}

.footer {
    background: #141518;
    text-align: center;
    color: white;
    box-sizing: border-box;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}