html, body {
    font-family:Roboto, HelveticaNeue, Arial, sans-serif;
	font-size: 16px;
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: auto;
}

.header {
    border-bottom: 1px solid #CCC;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    box-sizing: border-box;
}

.logo {
    width: 60px;
}

img {
    max-width: 100%;
    display: block;
}

.navbar {
    text-transform: uppercase;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 8px;
}
.shopping-bag {
    margin-right: 5px;
}



.header a:hover {
    color: black;
    font-weight: bold;
}


.featured {
    /* background: #EEE; */
}
.featured .container {
    display: flex;
    justify-content: space-around;
    padding: 48px 0;
}
.featured div {
}
.featured img {
    width: 100%;
    /* max-width: 1170px; */
    display: block;
}

.catalogue {
    padding: 48px 0;
}

.product-container {
    padding: 12px 5.5px;
    display: inline-block;
}

.product-item {
    overflow: hidden;
    margin: 12px;
    box-sizing: border-box;
    border: 1px solid #dadce0;
    border-radius: 8px;

    cursor: pointer;
    display: block;
    min-height: 238px;
    margin: 0px;
    position: relative;
    width: 152px;
}

.product-image {
    background-color:rgb(255, 255, 255);
    box-sizing:border-box;
    display:inline-block;
    height:152px;
    position:relative;
    width:152px;

    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.product-container:hover {
    transform: scale(1.1);
}

.product-details {
    color:rgba(32, 33, 36, 0.8);
    display:block;
    font-size:14px;
    line-height:20px;
    padding: 8px 12px;
    text-size-adjust:100%;
    white-space:nowrap;
    width:128px;
}

.product-price {
    font-weight: bold;
}

.button {
    color:rgba(32, 33, 36, 0.8);
    background: #ECEAE4;
    font-size: 14px;
    border: 1px solid #ECEAE4;
    border-radius: 6px;
    cursor: pointer;
    
    overflow: hidden;
    margin-top: 5px;
}

.button:hover {
    transform: scale(1.2);
}


.section-header {
    color: #202124;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .3px;
    line-height: 20px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 16px;
}

.categories {
    background: #141518;
    box-sizing: border-box;
}

.categories .container {
    height: 80px;
    display: flex;
    align-items: center;
}

.title {
    font-size: 24px;
    color: white;
    padding: 16px;
}

.category-item {
    padding: 6px 8px;
    color: white;
    text-decoration: none;
}
.category-item.active, .category-item:hover {
    color: #fdb203;
}



/*About*/
.section-head {
    color: #202124;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .3px;
    line-height: 20px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    padding: 30px;
}

.picture {
    margin-top: 20px;
    
}

.picture img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    width: 400px;
    
}


.paragraph {
    color: #202124;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .3px;
    line-height: 20px;
    /*overflow-x: hidden;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    padding: 20px;
}

.footer {
    background: #141518;
    text-align: center;
    color: white;
    box-sizing: border-box;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Products*/
.sec-header {
    color: #202124;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .3px;
    line-height: 20px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 50px;
    padding: 16px;
}

.no-prod {
    padding: 20px;
    margin-bottom: 196px;
}



/*Cart*/
/*
.cart-page {
    margin: 80px 70px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 5px;
    background: #FFC300;
}

td {
    padding: 10px 5px;
}

td input {
    width: 30px;
    height: 20px;
    padding: 5px;
}

.total-price {
    float: right;
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #FFC300;
    width: 100%;
    max-width: 200px;
    
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}*/


/*php stuff*/

.product_wrapper {
    float: left;
    padding: 10px;
    text-align: center;
    }

.product_wrapper img {
    width: 100px;
    background-color:rgb(255, 255, 255);
    box-sizing:border-box;
    display:inline-block;
    height:152px;
    position:relative;
    width:152px;

    border-radius: 8px 8px 0 0;
    overflow: hidden;
    
}





    /*
    .featured img {
        width: 100%;
        display: block;
    }

    .catalogue {
        padding: 48px 0;
    }
    
    .product-container {
        padding: 12px 5.5px;
        display: inline-block;
    }
    
    .product-item {
        overflow: hidden;
        margin: 12px;
        box-sizing: border-box;
        border: 1px solid #dadce0;
        border-radius: 8px;
    
        cursor: pointer;
        display: block;
        min-height: 238px;
        margin: 0px;
        position: relative;
        width: 152px;
    }
    
    .product-image {
        background-color:rgb(255, 255, 255);
        box-sizing:border-box;
        display:inline-block;
        height:152px;
        position:relative;
        width:152px;
    
        border-radius: 8px 8px 0 0;
        overflow: hidden;
    }
    
    */






   .product_wrapper:hover {
    box-shadow: 0 0 0 2px #e5e5e5;
    cursor:pointer;
    }
   .product_wrapper .name {
    font-weight:bold;
    }

   /*
   .product_wrapper .buy {
    text-transform: uppercase;
    background: #F68B1E;
    border: 1px solid #F68B1E;
    cursor: pointer;
    color: #fff;
    padding: 8px 40px;
    margin-top: 10px;
   }
   .product_wrapper .buy:hover {
    background: #f17e0a;
    border-color: #f17e0a;
   }
*/

   .message_box .box{
    margin: 10px 0px;
    border: 1px solid #2b772e;
    text-align: center;
    font-weight: bold;
    color: #2b772e;
    }


    .footer {
        position: relative;
        background: #141518;
        text-align: center;
        color: white;
        box-sizing: border-box;
        height: 64px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

   table td {
    border-bottom: #ffc403 2px solid;
    padding: 10px;
    }
    /*
   .cart_div {
    float:right;
    font-weight:bold;
    position:relative;
    }
   .cart_div a {
    color:#000;
    } 
   .cart_div span {
    font-size: 12px;
    line-height: 14px;
    background: #F68B1E;
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 13px;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    }*/

    .table {
        margin: 40px 70px;
    }

    .table {
        width: 100%;
        max-width: 800px;
        border-collapse: collapse;
    }


    th {
        text-align: left;
        font-size: 12;
        padding: 10px;
        background: #f7ca04;
    }

   .cart .remove {
    background: none;
    border: none;
    color: #f7ca04;
    cursor: pointer;
    padding: 0px;
    }
   .cart .remove:hover {
    text-decoration:underline;
    }